body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#container{
    /* background-color: #fff !important; */
    width:100vw;
    height:100vh;
}
canvas{
    width:100%;
    height:100%;
    outline:none;
}